body {
  background-color: #3e94ec;
}

.table_title {
  margin: auto;
  max-width: 600px;
  padding-top: 25px;
}

.table_title h3 {
  color: #fafafa;
  font-size: 30px;
}

.table_data {
  border-collapse: collapse;
  margin: auto;
  width: 600px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  padding:24px;
  text-align:left;
}

th:first-child {
  border-top-left-radius:10px;
}

th:last-child {
  border-top-right-radius:10px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  color:#666B85;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

td {
  background:#FFFFFF;
  padding:20px;
  font-size:18px;
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

.table_total td {
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  font-weight: bold;
  color: #000;
}

.txt_emph {
  color: #ff6600;
}
