body {
  background: #F5F6FA;
  padding-bottom: 50px;
}

h1 {
  color: #686868;
  text-align: center;
  font-weight: normal;
  padding-top: 30px;
}

ul {
  list-style: none;
  margin: 0;
}

select {
  width: 100px;
  height: 30px;
  font-size: 14px;
}

.ico {
  display: inline-block;
  overflow: hidden;
  background: url(../images/icons.png) no-repeat;
  vertical-align: top;
  font-size: 0;

}

.ico.ico_edit {
  background-position: -31px 0;
  width: 19px;
  height: 20px;
}

.ico.ico_delete {
  background-position: 0 0;
  width: 18px;
  height: 20px;
}

.container {
  max-width: 550px;
  margin: 0 auto;
  background: #fff;
  padding: 0 50px 40px;
  box-shadow: 0 9px 21px 0 rgba(173, 182, 217, 0.17);
  position: relative;
}

.thumb_img {
  vertical-align: top;
}

.wrap_btn {
  padding-top: 40px;
}

.wrap_filters {
  position: absolute;
  right: 40px;
  top: 26px;
  padding-top: 20px;
}

.btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;

  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: .15rem;
}

.list_users {
  margin-top: 20px;
  padding: 0;
}

.list_users li {
  position: relative;
  overflow: hidden;
  border-top: 1px solid #ddd;
  padding: 12px 0;
}

.list_users li:first-child {
  border-top: none;
}

.list_users .wrap_thumb {
  border-radius: 50%;
  overflow: hidden;
  width: 66px;
  height: 66px;
  float: left;
}

.list_users .thumb_img {
  max-width: 100%;
}

.list_users .wrap_cont {
  margin: 0 20px 0 93px;
}

.list_users .txt_name {
  font-size: 18px;
  padding-top: 14px;
  color: #3D3D3D;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list_users .txt_email {
  font-size: 14px;
  padding-top: 3px;
  color: #5A5F61;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list_users .wrap_btns {
  position: absolute;
  right: 0;
  top: 30px;
}

.list_users .wrap_btns a {
  margin-left: 10px;
}

.list_users .wrap_btns a:first-child {
  margin-left: 0;
}
